{% extends "home.html" %}

{% block scripts %}

<script type="text/javascript">
function addSerialFilter()
{
	$('#notebook_table_filter').append('<br><label>Serial: <input type="text" id="serial"></label>');
    
    $("input#serial").keyup(function() 
    {
        var self = $(this);
        console.log(self.val().split(','));
        var array = self.val().split(',');
        $("tbody tr").hide();
        
        for (var i in array)
        {
            console.log(array[i]);
            var keyword = array[i].replace(/\s/g, "");
            $("tbody tr td.serial").each(function()
            {
            	console.log($(this).parent());
                if($(this).text().toLowerCase().indexOf(keyword) >= 0){
                    $(this).parent().show();
                }
            });
        } 
    });
}
$(document).ready(function() {
$.ajaxSetup({beforeSend: function(xhr, settings){
     xhr.setRequestHeader('X-CSRFToken', 
                          '{{ csrf_token }}');
   }});
    $('#notebook_table').dataTable( {
      "sDom": 'frt' ,
      "iDisplayLength": 250,
      "aoColumns": [
			null,
			null,
			null,
			null,
			null,null,null,null,{ "bSortable": false }
			],
    });
        console.log($('notebook_table_filter'))
        addSerialFilter()
    
    
    $("#submit_button").click(function() 
	{
		
		var url="{{ SITE_URL }}";
		var data_ = "key=addCourse&" + $("#addCourse").serialize() + "&" +  $("#addNotebooks2Course").serialize(); 
		console.log(data_);
		$.ajax(
		{
			type: "POST",
			url: url,
			data: data_,
			success: function(response){
				response = JSON.parse(response)
				window.location.href = response.destination;
			}
		});
	});
	$("#refresh_button").click(function()
	{	
		var data = "key=refresh&" + $("#id_end_date_day").serialize() +  '&' +$("#id_end_date_month").serialize() +'&' + $("#id_end_date_year").serialize() + '&' +$("#id_start_date_day").serialize() +'&' + $("#id_start_date_month").serialize() + '&' +$("#id_start_date_year").serialize()
		console.log(data)
		$.ajax(
		{
			type: "POST",
			url: "{{SITE_URL}}",
			data: data,
			success: function(data, status, xhr)
    		{
    			console.log(data)
    			$("#notebook_table_wrapper").replaceWith(data['notebooks'])
    			$("#notebook_table_wrapper").attr("id","notebook_table")
    			 $('#notebook_table').dataTable( 
    			 {
      "sDom": 'frt' ,
      "iDisplayLength": 250,
      "aoColumns": [
			null,
			null,
			null,
			null,
			null,null,null,null,{ "bSortable": false }
			],
    });
    addSerialFilter()
        	}
		});
	});
	
	$("#id_localization").parent().append('<span id="new_localization">+</span><input id="id_localization_hidden" disabled="true" maxlength="64" name="localization" type="text"><span id="new_localization_disable">-</span>');
	$("#id_localization_hidden").hide()
	$("#new_localization_disable").hide()
	
	$("#new_localization").click(function()
	{
		$("#id_localization_hidden").show()
		$("#id_localization_hidden").removeAttr("disabled")
		$("#id_localization").hide()
		$("#id_localization").attr("disabled","true")
		$("#id_localization").attr("id","tmp")
		$("#id_localization_hidden").attr("id","id_localization")
		$("#tmp").attr("id", "id_localization_hidden")
		$(this).hide()
		$("#new_localization_disable").show()
	});
	$("#new_localization_disable").click(function()
	{
		$("#id_localization_hidden").show()
		$("#id_localization").hide()
		$("#id_localization").attr("disabled","true")
		$("#id_localization").attr("id","tmp")
		$("#id_localization_hidden").attr("id","id_localization")
		$("#tmp").attr("id", "id_localization_hidden")
		$("#id_localization").removeAttr("disabled")
		$(this).hide()
		$("#new_localization").show()
	});
	$("#selectall").click(function()
	{
		$("input[name='selection']:visible").each(function(){
			$(this).prop("checked", !$(this).prop("checked"));
		});
	});
} );
</script>

{% endblock %}

{% block content %}
{% load render_table from django_tables2 %}
<form action="/addCourse/" method="POST" id="addCourse">
	{% csrf_token %}
	{{ addCourseForm.as_p }}
</form>
<p id="p_submit">
	<input type="submit" value="Submit" id="submit_button">
	<input type="submit" value="Odśwież" id="refresh_button">
</p>
<hr>
<form action="/addNotebooksToCourse" method="POST" id="addNotebooks2Course">
{% if notebooks != None %}
	{% render_table notebookTable %}
	{% endif %}
</form>

{% endblock %}
