{% extends "home.html" %}
{% block content %}
{% if confirmMessage != None %}
	<p id="id_message_bar">{{confirmMessage}}</p>
{% endif %}
<form action="{{SITE_URL}}" method="POST">
	{% csrf_token %}
	{{ addNotebookForm.as_p }}
	<input type="submit" value="Submit" id="id_submit_new_notebook_button">
</form>
{% endblock %}