{% extends "home.html" %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
 $.ajaxSetup({beforeSend: function(xhr, settings){
     xhr.setRequestHeader('X-CSRFToken', 
                          '{{ csrf_token }}');
   }});

    $("#all_submit_button").click(function() 
	{	var form = $("#course_edit_form")
			$.ajax({
			type: "POST",
			url: "{{SITE_URL}}",
			data: "key=course&" + JSON.stringify(form.serialize())
		});
		
		$('.shipment_edit_form').each(function()
		{
			$.ajax({
			type: "POST",
			url: "{{SITE_URL}}",
			data: "key=shipment&" + JSON.stringify($(this).serialize()),
			});
		});
		
		$.ajax({
			type: "POST",
			url: "{{SITE_URL}}",
			data: "key=redirect&",
			success: function(response){
				response = JSON.parse(response)
				window.location.href = response.destination;
			}
		});
	});
	
});
</script>
{% endblock %}

{% block content %}
{% load render_table from django_tables2 %}
<input type="submit" value="Zapisz" id="all_submit_button">
<form action="" method="POST" id="course_edit_form">
	{% csrf_token %}
	{{ courseForm.as_p }}
</form>

{% if localNotebooks %}
<hr>Local notebooks:
{% render_table localNotebooks %}
{% endif %}
<hr>
<p id="formset">
{% for k,v in shipmentFormsAndNotebooks.iteritems %}
<form action="" method="POST" class="shipment_edit_form">
	{% csrf_token %}
	{{ k.id }}
	{{ k.as_p }}
	<form class="shipment_notebooks">
	{% csrf_token %}
	{% render_table v %}
	</form>
</form>
<hr>
{% endfor %}
</p>
{% endblock %}