{% extends "home.html" %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
 $.ajaxSetup({beforeSend: function(xhr, settings){
     xhr.setRequestHeader('X-CSRFToken', 
                          '{{ csrf_token }}');
   }});
   
    $('#notebook_table').dataTable( {
      "sDom": 'frt' ,
      "iDisplayLength": 250,
      "aoColumns": [
			null,
			null,
			null,
			null,
			null,null,null,null,{ "bSortable": false }
			],
    });

    $("#submit_button").click(function() 
	{
		
		var url="{{ SITE_URL }}";
		var data_ = $("#addShipment").serialize() + "&" +  $("#addNotebooks").serialize(); 
		console.log(data_);
		$.ajax(
		{
			type: "POST",
			url: url,
			data: data_,
			success: function(response){
				response = JSON.parse(response)
				window.location.href = response.destination;
			}
		});
	});
});
</script>
{% endblock %}
{% block content %}
{% load render_table from django_tables2 %}
<input type="submit" value="Zapisz" id="submit_button">
<form action="{{ SITE_URL }}" method="POST" id="addShipment">
	{% csrf_token %}
	{{ shipmentForm.as_p }}
</form>
<form action="{{SITE_URL}}" method="POST" id="addNotebooks">
	{% render_table notebookTable %}
</form>
{% endblock %}