{% extends "home.html" %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
 $.ajaxSetup({beforeSend: function(xhr, settings){
     xhr.setRequestHeader('X-CSRFToken', 
                          '{{ csrf_token }}');
   }});

    $("#shipment_submit_button").click(function() 
	{	
		jsonArray = [];
		$('.shipment_edit_form').each(function()
		{
			jsonArray.push($(this).serialize());
			$.ajax({
			type: "POST",
			url: "{{SITE_URL}}",
			data: JSON.stringify($(this).serialize()),
			});
		});
	});
});
</script>
{% endblock %}

{% block content %}
<form action="/course/addShipment/" method="POST" id="course_edit_form">
	<input type="submit" value="Zapisz szkolenie" id="all_submit_button">
	{% csrf_token %}
	{{ courseForm.as_p }}
</form>

<hr>
<input type="submit" value="Zapisz wysyłki" id="shipment_submit_button">
<p id="formset">
{% for k,v in shipmentFormsAndNotebooks.iteritems %}
<form action="/course/addShipment" method="POST" class="shipment_edit_form">
	{% csrf_token %}
	{{ k.id }}
	{{ k.as_p }}
	<form class="shipment_notebooks">
	{% render_table v %}
	</form>
</form>
<hr>
{% endfor %}
</p>
<p id="free_notebooks">
<input type="submit" value="Generuj dodatkowe wysyłki"
{% render_table free_notebooks %}
</p>
{% endblock %}