{% load render_table from django_tables2 %}
<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/navigation.css" />
{{ form.media }}
<script type="text/javascript" src="{{ STATIC_URL }}jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}csrf.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/hide_id.css" />
{% block scripts %} {% endblock %}
</head>
<body>
<div>
{% block navi %}

<ul id="vertical-navigation">
	<li> <a href="/course/weekView">Szkolenia</a> 
		<ul>
			<li> <a href="/course/new"> Dodaj szkolenie</a> </li>
			<li> <a href="/course/view"> Przeglądaj </a> </li>
		</ul>
	</li>
	<li> <a href="#">Wysyłki</a> 
		<ul>
			<li> <a href="/shipment/new">Dodaj wysyłkę</a> </li>
			<li> <a href="/shipment/view">Przeglądaj</a> </li>
		</ul>
	</li>
	<li> <a href="#">Laptopy</a>
		<ul>
			<li> <a href="/notebook/new">Dodaj notebooka</a> </li>
			<li> <a href="/notebook/view">Przeglądaj</a> </li>
		</ul>
	</li>
</ul>

{% endblock %}
</div>
<div>
{% block content %}

{% endblock %}
</div>

</body>
</html>