{% extends "home.html" %}
{% block scripts %} 
<script type="text/javascript">
$(document).ready(function(){
	$("#courses_table").dataTable( {
      "sDom": 'frt' ,
      "iDisplayLength": 250
    });
});
</script>
{% endblock %}

{% block content %}

{% load render_table from django_tables2 %}
	{% if incomingTable != None %}
	<h1>Nadchodzące</h1>
	{% render_table incomingTable %}
	{% endif %}
	
	{% if ongoingTable != None %}
	<h1>Trwające</h1>
	{% render_table ongoingTable %}
	{% endif %}
	{% if finishedTable != None %}
	<h1>Zakończone</h1>
	{% render_table finishedTable %}
	{% endif %}
	
	

{% endblock %}