{% extends "home.html" %}
{% block scripts %}

{% endblock %}
{% block content %}
{% load render_table from django_tables2 %}


{% for i in coursesMotherFuckinShip %}
	{% if i.ongoing or i.incoming or i.finished %}
		<span class="{% cycle odd even %}">
			<h1>Tydzień {{i.monday}} - {{i.friday}}<br></h1>
				{{ i.dashTable | safe}}
				{% if i.incoming != None %}
					<h3>Nadchodzące</h3>
					{% render_table i.incoming %}
				{% endif %}
				
				{% if i.ongoing != None %}
					<h3>Trwające</h3>
					{% render_table i.ongoing %}
				{% endif %}
				
				{% if i.finished != None %}
					<h3>Zakończone</h3>
					{% render_table i.finished %}
				{% endif %}
			</span>
	{% endif %}
{% endfor %}


{% endblock %}